:root {
  --lightPrimary: #eeeeee;
  --lightSecondary: #aaaaaa;
  --lightSecondary2: #cdcdcd;
  --lightBorder: #222222;
}

.App{
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--lightPrimary);
  padding: 1em;
}

.toggle-btn{
  font-size: 1.5em;
  border: none;
  background: transparent;
  cursor: pointer;
}

.toggle-btn:active, .toggle-btn:focus {
  outline: none;
}


.App h1{
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 1rem;
  text-transform: uppercase;
  text-shadow: 5px 5px #aaaaaa;
}

.view-container{
  background-color: var(--lightSecondary2);
  border: 2px solid var(--lightBorder);
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000000;
  margin-bottom: 1em;
}

.view{
  color: #000000;
  padding: 0 0.5em;
  overflow-x: auto;
  text-align: right;
  font-size: 3em;
  white-space: nowrap;
}

.panel{
  display: grid;
  grid-template-rows: repeat(5, minmax(80px,130px));
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}  

.btn.span-2{
  border-radius: 2em;
  grid-column: span 2;
}

.btn{
  border-radius: 50%;
  font-size: 3.5em;
  border: 2px solid #222222;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:active, .btn:focus{
  outline: none;
}

.number-btn:hover, .number-btn:active{
  background: #949392;
}

.state-action-btn{
  background: #ee6f08;
  color: #ffffff;
}

.state-action-btn:hover,.active.state-action-btn {
  color: #ee6f08;
  background: #ffffff;
}

.action-btn{
  background: var(--lightSecondary);
  color: #ffffff;
}

.action-btn:hover, .action-btn:active{
  background: #828282;
}


@media screen and (max-width: 576px){
  .App h1{
    font-size: 2rem;
  }    

  .panel{
    display: grid;
    grid-template-rows: repeat(5, minmax(20px,70px));
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    column-gap: 15px;
    row-gap: 15px;
  }
  
  .btn{
    border-radius: 50%;
    font-size: 2em;
    border: 2px solid var(--lightBorder);
    cursor: pointer;
    transition: all 0.1s linear;
  }
}